/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#09090f;
    color:#ffffff;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#22d3ee;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav ul li a:hover{
    color:#22d3ee;
}

.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
    max-width:800px;
    line-height:1.2;
}

.hero p{
    margin-top:20px;
    font-size:20px;
    max-width:700px;
    color:#bcbcbc;
}

.buttons{
    margin-top:40px;
}

.buttons button{
    padding:15px 35px;
    margin:10px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:18px;
    font-weight:600;
}
