/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#09090f;
    color:#fff;
    overflow-x:hidden;
}

/* Navbar */

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(9,9,15,.7);
    backdrop-filter:blur(12px);
}

.logo{
    font-size:38px;
    font-weight:800;
    color:#22d3ee;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#22d3ee;
}

.menu-toggle{
    display:none;
    font-size:34px;
    color:#fff;
    cursor:pointer;
}
